<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		  
		  <strong>Contact</strong>:<br />
		  
		  Email: yongfeiw@usc.edu <br />
		  Address: <br />
		  Southern California Earthquake Center<br />
		  University of Southern California <br />
		  3651 Trousdale Parkway, Suite 169<br />
		  Los Angeles, California, 90089-0742<br />
            (<a href="https://www.scec.org/aboutscec/contact.html">Directions</a>)<br />

<!--       <div class="col-sm-8">
		<figure class="fourth">
  			<img src="{{ site.url }}{{ site.baseurl }}/images/logopic/scec.png" style="height: 80px">
  			<img src="{{ site.url }}{{ site.baseurl }}/images/logopic/usc.jpg" style="height: 80px">
  			<img src="{{ site.url }}{{ site.baseurl }}/images/logopic/scripps.png" style="height: 80px">
  			<img src="{{ site.url }}{{ site.baseurl }}/images/logopic/ucsd.png" style="height: 80px">
  			<img src="{{ site.url }}{{ site.baseurl }}/images/logopic/sdsu.png" style="height: 80px">
		</figure>
		</div> -->




	  </div>
	</div>
  </div>
</div>

<!-- modify this form HTML and place wherever you want your form -->



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>

