<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		  
		  <strong>Contact</strong>:<br />
		  
		  Email: yongfei.wang.verisk@gmail.com <br />
		  Address: <br />
		  Lafayette City Center<br />
			2 Avenue de Lafayette, 2nd Floor<br />
			Boston, MA 02111<br />
            (<a href="https://www.google.com/maps/place/AIR+Worldwide/@42.3539943,-71.0613779,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0xaa7a1e68fd773dc5!8m2!3d42.3539943!4d-71.0613779">Directions</a>)<br />

<!--       <div class="col-sm-8">
		<figure class="fourth">
  			<img src="{{ site.url }}{{ site.baseurl }}/images/logopic/scec.png" style="height: 80px">
  			<img src="{{ site.url }}{{ site.baseurl }}/images/logopic/usc.jpg" style="height: 80px">
  			<img src="{{ site.url }}{{ site.baseurl }}/images/logopic/scripps.png" style="height: 80px">
  			<img src="{{ site.url }}{{ site.baseurl }}/images/logopic/ucsd.png" style="height: 80px">
  			<img src="{{ site.url }}{{ site.baseurl }}/images/logopic/sdsu.png" style="height: 80px">
		</figure>
		</div> -->




	  </div>
	</div>
  </div>
</div>

<!-- modify this form HTML and place wherever you want your form -->



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>

