<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
      <div class="col-sm-5">

		  <br>
		  <br>
		  
		  Contact:<br />
		  Email: yow004@ucsd.edu <br />
		  Address: <br />
		  Institute of Geophysics and Planetary Physics <br />
		  Scripps Institution of Oceanography <br />
		  University of California, San Diego <br />
		  9500 Gilman Drive, La Jolla <br />
		  San Diego, CA 92093-0225 <br />
		  United State <br />
            (<a href="https://igpp.ucsd.edu/about/directions">Directions</a>)
      		</div>

      <div class="col-sm-5">
		<figure class="fourth">
  			<img src="{{ site.url }}{{ site.baseurl }}/images/logopic/scripps.png" style="height: 100px">
  			<img src="{{ site.url }}{{ site.baseurl }}/images/logopic/ucsd.png" style="height: 105px">
  			<img src="{{ site.url }}{{ site.baseurl }}/images/logopic/sdsu.png" style="height: 100px">
  			<img src="{{ site.url }}{{ site.baseurl }}/images/logopic/scec.png" style="height: 100px">
  			<img src="{{ site.url }}{{ site.baseurl }}/images/logopic/usc.jpg" style="height: 100px">
		</figure>
		</div>

	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
